.navbar {
  background-color: transparent;
  padding: 16px 0;
  .header-main__links {
    display: flex;
    justify-content: center;
    gap: 24px;
    a {
      color: rgba(255, 255, 255, 1);
      transition: 0.3s;
      padding: 15px 15px;
      &:hover {
        background-color: rgba(119, 126, 144, 0.4);
        border-radius: 15px;
      }
    }
    @media (max-width: 1000px) {
      margin-bottom: 20px;
    }
  }
  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-main__options {
    width: 100%;
    display: flex;
    gap: 24px;
    button {
      display: flex;
      gap: 8px;
      align-items: center;
      border-radius: 16px;
      padding: 16px 24px;
      border: none;
      color: #fff;
      transition: 1s !important;
      
    }
  }
}
.currency-select{
  transition: .5s;
  &:hover {
    background-color: rgba(119, 126, 144, 0.4)
    !important;
    border-radius: 6px;
  }
}
#header {
  background: url(../../assets/HomePage/home-background.png) no-repeat center;
  background-size: cover;
  background-clip: border-box;
}


// #home

#home {
  padding-top: 50px;
  padding-bottom: 147px;
  .home-top {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 120px;
    &__title {
      h2 {
        color: var(--Color-Pallete-White, #fff);
        font-family: Forma DJR Cyrillic Deck;
        font-size: 49px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 68.6px */
        letter-spacing: 0.98px;
        @media (max-width: 700px) {
          font-size: 36px;
        }
      }
    }
    &__content {
      margin-bottom: 50px;
      p {
        width: 384px;
        color: var(--Color-Pallete-Light-Gray, #b7bfd5);
        font-family: Onest;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        letter-spacing: 0.32px;
        margin-bottom: 16px;
      }
      &__buttons {
        display: flex;
        .play-video {
          background: transparent;
          border: none;
          display: flex;
          gap: 8px;
          align-items: center;
          color: var(--Color-Pallete-White, #fff);
          font-family: Onest;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%; /* 25.6px */
          letter-spacing: 0.32px;
          padding: 0;
        }
      }
      @media (max-width: 1160px) {
        margin-top: -80px;
      }
    }
    @media (max-width: 1160px) {
      display: flex;
      flex-direction: column;
    }
  }
}

#video__modal {
  position: relative;
  padding: 0 !important;
  transition: 1s;
  .modal-close {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 0px;
    background-color: transparent;
    border: none;
  }
}

.header-res {
  display: none;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  flex-grow: 0 !important;
  align-items: center;
}

.bg-body-tertiary {
  background-color: transparent !important;
}

.currency-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 14px;
}

.currency-modal {
  padding: 40px;
  border-radius: var(--Radius-rd_40, 40px) !important;
  background: var(--Color-Pallete-White, #fff);
  h3 {
    color: var(--Color-Pallete-Dark, #232e40);
    text-align: center;
    font-family: "Forma DJR Cyrillic Deck";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    letter-spacing: 0.48px;
    padding-bottom: 16px;
  }
  p {
    color: var(--Color-Pallete-Gray, #777e90);
    text-align: center;
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: 0.32px;
  }
  .currency-modal-head {
    padding: 10px 0;
    h4 {
      color: var(--Color-Pallete-Dark, #232e40);
      font-family: "Forma DJR Cyrillic Deck";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.36px;
    }
  }
  .currency-items {
    button {
      padding: 8px;
      margin: 0;
      background-color: transparent;
      border: 1px solid transparent;
      transition: 0.5s;
      &:hover {
        border-radius: var(--Radius-rd_8, 8px);
        background: var(--Color-Pallete-Light, #f8f8fa);
      }
    }
    h6 {
      text-align: left !important;
      color: var(--Color-Pallete-Gray, #777e90);
      font-family: Onest;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      letter-spacing: 0.32px;
      margin: 0;
      transition: 1s;
    }
    p {
      color: var(--Color-Pallete-Dark, #232e40);
      text-align: left;
      font-family: Onest;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 25.6px */
      letter-spacing: 0.32px;
      margin: 0;
      transition: 1s;
    }
  }
}

.ReactModal__Content {
  border-radius: 40px !important;
}
.currency-select {
  background-color: transparent !important ;
}



.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.navbar-toggler-icon
{
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url("/src/assets/menus.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: white;
}