#joining {
   margin-top: 172px;
   margin-bottom: 100px;
  .joining-card {
    border-radius: var(--Radius-rd_40, 40px);
    background: radial-gradient(
        167.04% 113.05% at 4.17% 20.75%,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 100%,
        rgba(255, 255, 255, 0) 100%
      ),
      url(<path-to-image>), lightgray 654px -4.845px / 45.5% 102.375% no-repeat,
      #d8dce4;
    background: url(../../assets/HomePage/joining-background.png) no-repeat
      center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &__text {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 16px;
      padding: 60px 80px 80px 60px;
      h2 {
        color: var(--Color-Pallete-Dark, #232e40);
        font-family: Forma DJR Cyrillic Deck;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 44.8px */
        letter-spacing: 0.64px;
      }
      p {
        color: var(--Color-Pallete-Gray, #777e90);
        font-family: Onest;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
        letter-spacing: 0.36px;
      }
      button {
        padding: 16px 24px;
        border-radius: 16px;
        background: var(--Color-Pallete-Blue, #3276ff);
        color: var(--Color-Pallete-White, #fff);
        font-family: Onest;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 25.6px */
        letter-spacing: 0.32px;
      }
    }
  }
}
