.house-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.house__card {
  transition: .8s;
  .house__card-image {
    img {
      width: 100%;
    }
    position: relative;
    .image-options {
      position: absolute;
      left: 12px;
      top: 12px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: start;
      span {
        padding: 4px 8px;
        color: var(--Color-Pallete-White, #fff);
        font-family: Onest;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 14.4px */
        backdrop-filter: blur(2px);
        border-radius: var(--Radius-rd_8, 8px);
      }
      .breakfast {
        border: 1px solid var(--Color-Pallete-Green, #4dd282);
        background: var(--Color-Pallete-Green, #4dd282);
      }
      .rec {
        background: var(--Color-Pallete-Blue, #3276ff);
      }
      .discount {
        background: var(--Color-Pallete-Yellow, #ffc107);
      }
      .season {
        background: var(--Color-Pallete-Light-Gray, #b7bfd5);
      }
    }
    .image-rating {
      position: absolute;
      top: 12px;
      right: 12px;
      span {
        display: flex;
        align-items: center;
        gap: 4px;
        border-radius: var(--Radius-rd_8, 8px);
        background: var(--Color-Pallete-Yellow, #ffc107);
        padding: 4px 8px;
        color: var(--Color-Pallete-Dark, #232e40);
        font-family: Onest;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
  .house__card-info {

    .info-name {
      padding-top: 12px;
      padding-bottom: 6px;
      display: flex;
      flex-direction: column;
      h3 {
        color: var(--Color-Pallete-Dark, #232e40);
        font-family: Onest;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 22.4px */
      }
      p {
        color: var(--Color-Pallete-Gray, #777e90);
        font-family: Onest;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 19.6px */
        letter-spacing: 0.28px;
      }
    }
    h4 {
      color: var(--Color-Pallete-Gray, #777e90);
      font-family: Onest;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 16.8px */
      letter-spacing: 0.24px;
      span {
        color: var(--Color-Pallete-Blue, #3276ff);
        font-family: Onest;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 22.4px */
        letter-spacing: 0.32px;
      }
    }
    button{
      width: 100%;
      transition: .8s;
      opacity: 0;
    }
  }
  &:hover {
    border-radius: var(--Radius-rd_24, 24px);
    background: var(--Color-Pallete-White, #fff);
    box-shadow: 0px 40px 32px -32px rgba(119, 126, 144, 0.2);
    padding: 16px;
    margin: -16px;
    button{
      opacity: .8;
    }
  }
}
