footer {
  margin-top: 60px;
  .footer-items {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    padding-top: 16px;
    padding-bottom: 60px;
    &__info {
      p {
        color: var(--Color-Pallete-Gray, #777e90);
        font-family: Onest;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 22.4px */
        padding-bottom: 48px;
      }
      .socials {
        display: flex;
        gap: 24px;
      }
    }
    ul {
      li {
        a {
          color: var(--Color-Pallete-Gray, #777e90);
          font-family: Onest;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        @media (max-width: 450px) {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
    @media (max-width: 780px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
    @media (max-width: 450px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .footer-bottom {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    h5 {
      color: var(--Color-Pallete-Gray, #777e90);
      font-family: Onest;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
