footer {
  margin-top: 60px;
  .footer-items {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    padding-top: 16px;
    padding-bottom: 60px;
    &__info {
      p {
        color: var(--Color-Pallete-Gray, #777e90);
        font-family: Onest;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 22.4px */
        padding-bottom: 48px;
      }
      .socials {
        display: flex;
        gap: 24px;
      }
    }
    ul {
      li {
        a {
          color: var(--Color-Pallete-Gray, #777e90);
          font-family: Onest;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
  .footer-bottom {
   padding: 60px 0;
   display: flex;
   justify-content: center;
    h5 {
      color: var(--Color-Pallete-Gray, #777e90);
      font-family: Onest;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
