header {
  padding: 16px auto;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__links {
      display: flex;
      justify-content: center;
      gap: 24px;
      a {
        color: #233E40;
      }
    }
    &__options {
      display: flex;
      gap: 24px;
      select {
        background-color: transparent;
        color: #233E40;
        border: none;
      }
      button {
        display: flex;
        gap: 8px;
        align-items: center;
        border-radius: 16px;
        background-color: #232e40 !important;
        padding: 16px 24px;
        border: none;
        color: #fff;
      }
    }
  }
}

.menu{
  display: flex;
  justify-content: space-between !important;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  flex-grow: 0 !important;
  align-items: center;
}