* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: calc(1440px - 240px + 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

a{
  text-decoration: none !important;
}

@font-face {
  font-family: "Forma DJR Cyrillic Deck";
  src: local("Forma DJR Cyrillic Deck"),
   url("./assets/fonts/FormaDJRCyrillicDeck-Medium-Testing.otf") format("truetype");
  font-weight: bold;
 }

 main{
  background: #FAFAFA;
 }